*, *:before, *:after {
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  height: 100%;
  font-size: 62.5%; }

body {
  min-height: 100%;
  background-color: #edf2f6;
  font-size: 16px;
  font-size: 1.6rem;
  font-family: 'Roboto', sans-serif; }

h1, h2 {
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
  margin: 0 0 4rem 0;
  text-align: center;
  color: #2f3848; }

h1 span {
  font-weight: 400; }

h1 {
  font-size: 3rem; }

h2 {
  font-size: 2.4rem; }

ul {
  list-style: none;
  padding: 0;
  margin: 0; }

a {
  text-decoration: none;
  color: #2f3848; }

/** BOTONES **/
.btn {
  margin-top: 2rem;
  font-family: 'Roboto', sans-serif;
  padding: 1.5rem;
  font-size: 1.4;
  font-weight: 400;
  border-radius: .5rem;
  border: none;
  transition: background-color .3s ease; }

.btn:hover {
  cursor: pointer; }

.btn-primario {
  background-color: #2f3848;
  color: #ffffff; }

.btn-primario:hover {
  background: #1a202d; }

.btn-secundario {
  background-color: #edf2f6; }

.btn-block {
  display: block;
  width: 100%; }

.btn-submit:hover {
  background-color: #2f3848; }

.btn-blank {
  margin: 0;
  padding: 0;
  display: block;
  background-color: transparent; }

@media (min-width: 768px) {
  .contenedor-app {
    display: flex;
    min-height: 100vh; }
  aside {
    background-color: #ffffff;
    flex: 0 0 300px; }
  .seccion-principal {
    flex: 1; } }

/* BARRA LATERAL */
aside {
  padding: 3rem; }

.formulario-nuevo-proyecto {
  margin-top: 6rem; }

.formulario-nuevo-proyecto .input-text {
  border-bottom: 1px solid #2f3848;
  border-radius: 0;
  background-color: #edf2f6; }

.formulario-nuevo-proyecto .input-text::placeholder {
  color: #2f3848; }

.proyectos {
  margin-top: 10rem; }

.listado-proyectos li {
  margin-bottom: 2rem; }

.listado-proyectos li a {
  font-size: 1.4rem;
  color: #2f3848;
  line-height: 1.5;
  font-weight: 300; }

.app-header {
  display: flex;
  justify-content: space-between;
  background-color: #2f3848;
  padding: 4rem; }

.nombre-usuario {
  color: #ffffff;
  font-size: 2.2rem;
  margin: 0; }

.nombre-usuario span {
  font-weight: 900; }

.nav-principal a {
  color: #ffffff;
  text-decoration: none; }

.nav-principal a:first-of-type {
  margin-right: 2rem; }

/** Formulario crear y editar tareas **/
.formulario {
  background-color: #1a202d;
  padding: 4rem; }

.formulario form {
  max-width: 600px;
  margin: 0 auto; }

.contenedor-input {
  display: flex; }

.contenedor-input label {
  margin-bottom: 1rem;
  color: #ffffff; }

.input-text {
  padding: 1rem;
  border: none;
  border-radius: .5rem;
  flex: 1;
  width: 100%; }

/** TAREAS LISTADO **/
.contenedor-tareas {
  padding: 4rem; }

.listado-tareas {
  max-width: 600px;
  margin: 0 auto; }

.tarea {
  display: flex;
  justify-content: space-between;
  background-color: #ffffff;
  padding: .5rem 2rem;
  align-items: center;
  margin-bottom: 1rem;
  border-radius: .5rem; }

.sombra {
  -webkit-box-shadow: 0px 4px 10px -3px #757575;
  -moz-box-shadow: 0px 4px 10px -3px #757575;
  box-shadow: 0px 4px 10px -3px #757575; }

.sombra-dark {
  -webkit-box-shadow: 0px 6px 11px -8px rgba(0, 0, 0, 0.9);
  -moz-box-shadow: 0px 6px 11px -8px rgba(0, 0, 0, 0.9);
  box-shadow: 0px 6px 11px -8px rgba(0, 0, 0, 0.9); }

.tarea .acciones .btn:first-of-type {
  margin-right: 1rem; }

.tarea p {
  font-size: 1.6rem;
  flex: 1;
  padding-right: 2rem; }

.tarea .btn {
  padding: .8rem;
  font-size: 1.4rem;
  border-radius: 0;
  margin: 0; }

.estado {
  margin-right: 1rem; }

.estado button,
.mensaje {
  font-weight: 900;
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  padding: .5rem;
  border-radius: .5rem;
  cursor: pointer;
  border: none; }

.mensaje {
  text-align: center;
  font-size: 1.6rem;
  border-radius: 0; }

.mensaje:hover {
  cursor: default; }

.completo,
.correcto {
  background-color: rgba(154, 252, 154, 0.3);
  color: #1a202d; }

.incompleto {
  background-color: rgba(255, 178, 178, 0.4);
  color: #1a202d; }

.error {
  max-width: 600px;
  margin: 2rem auto 0 auto;
  background-color: #aa0000;
  color: #ffffff; }

.tarea-enter,
.proyecto-enter {
  opacity: 0; }

.tarea-enter-active,
.proyecto-enter-active {
  opacity: 1;
  transition: opacity 200ms; }

.tarea-exit,
.proyecto-exit {
  opacity: 1; }

.tarea-exit-active,
.proyecto-exit-active {
  opacity: 0;
  transition: opacity 200ms; }

.form-usuario {
  background-color: #2f3848;
  height: 100vh;
  min-height: 800px;
  display: flex;
  align-items: center;
  justify-content: center; }

.contenedor-form {
  padding: 5rem 3rem;
  max-width: 500px;
  width: 95%;
  background-color: #ffffff;
  border-radius: 1rem; }

.campo-form {
  display: flex;
  margin-bottom: 2rem;
  align-items: center; }

.campo-form:last-of-type {
  margin: 0; }

.campo-form label {
  flex: 0 0 100px;
  font-family: 'Roboto', sans-serif; }

.campo-form input[type="password"],
.campo-form input[type="email"],
.campo-form input[type="text"] {
  border: 1px solid #e1e1e1;
  padding: 1rem;
  flex: 1; }

.enlace-cuenta {
  margin-top: 2rem;
  display: block;
  opacity: .7; }


/*# sourceMappingURL=styles.chunk.css.map*/